---
import { ViewTransitions } from 'astro:transitions'

const { title, subtitle, description, url, image, author } = Astro.props
const titleStr = (title && subtitle) ? `${title} | ${subtitle}` : `${title}${subtitle}`
---

<!-- general meta -->
<meta name="title" content={titleStr} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- open graph -->
<meta property="og:title" content={titleStr} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={Astro.site ? `${Astro.site}${image}` : image} />

<!-- twitter card -->

<!-- page title -->
<title>{titleStr}</title>

<ViewTransitions />
